@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --color-text-1: black;
    --color-text-2: white;
    --color-text-3: #B030FF;
    --color-text-4: #157E0C;
    --color-1: #C3FFB9;
    --color-2: #7DDF70;
    --color-3: #B030FF;
    --color-4: #6CB962;
    --color-5: #599651;

    --color-text-placeholder: #B1B1B1;
    --font-main: 'Lobster', cursive;
    --font-secondary: 'Barlow', sans-serif;

    font-size: 16px;
    
    --title-1-size: 4rem;
    --title-2-size: 2.2rem;
    --title-3-size: 1.4rem;
    --subtitle-1-size: 1.4rem;
    --title-2-size: 2.2rem;
    --text-1-size: 1rem;
    --text-2-size: 1.15rem;
}

@media (min-width: 768px) {
    :root{
        --title-1-size: 4rem;
        --title-2-size: 2rem;
        --title-3-size: 1.4rem;
        --subtitle-1-size: 1.4rem;
        --title-2-size: 2rem;
        --text-1-size: 1rem;
        --text-2-size: 1.15rem;
    }
}
@media (min-width: 992px) {
    :root{
        --title-1-size: 6rem;
        --title-2-size: 2.5rem;
        --title-3-size: 1.6rem;
        --subtitle-1-size: 1.6rem;
        --title-2-size: 2.5rem;
        --text-1-size: 1rem;
        --text-2-size: 1.15rem;
    }
}

*{
    padding: 0;
    margin: 0;
}
p,a,label{
    font-family: var(--font-secondary);
}
h1,h2{
    font-family: var(--font-main);
}
h3,h4,
.h3,.h4{
    font-family: var(--font-secondary);
}
h1{
    font-size: var(--title-1-size);
}
h2{
    font-size: var(--title-2-size);
}
h3, .h3{
    font-size: var(--title-3-size);
}

::placeholder {
    color: var(--color-text-placeholder)!important;
    opacity: 1;
}
::-ms-input-placeholder {
    color: var(--color-text-placeholder)!important;
    opacity: 1;
}
.subtitle--1{
    font-weight: 300;
}
.subtitle--2{
    font-weight: bolder;
}
.title--2{
    color: var(--color-text-3);
    margin-bottom: 2rem;
}
.text--1{
    color: var(--color-text-1);
}
.text--2{
    color: var(--color-text-2);
}
.text--3{
    color: var(--color-text-4);
}
a{
    text-decoration: none;
}
p a{
    font-weight: 700;
    color: var(--color-text-3);
}
.header{
    min-height: 95vh;
    background: url("./assets/img/header_background_sm.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-clip: unset;

    padding: 0 5%;

    display:  flex;
    justify-content: flex-start;
    align-items: center;
}
.header__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (min-width: 768px) {
    .header{
        background: url("./assets/img/header_background.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60% 100%;
    }
    .header__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
    }
}
.header h1,
.header h2{
    
    text-shadow: 10px 10px 6px rgba(255, 255, 255, 0.25);
}
.form-container{
    font-family: var(--font-secondary);
    font-size: var(--text-2-size);

    display: flex;
    justify-content: center;
}
.form-container .form-control {
    font-weight: 600;
    font-size: var(--text-2-size);
    color: var(--color-text-1);
    height: 100%;

    padding: 0.35rem 0.65rem;

    border: 1px solid #157E0C;
    box-shadow: -0.3em 0.3em 0.5em -0.2em rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
}
.form-container .btn {
    font-size: 1.4rem;
    font-weight: 700;

    padding: 0.3rem 1.3rem;
    letter-spacing: 0.01rem;

    border: none;
    background: linear-gradient(95.35deg, #950EE8 10.84%, #B030FF 92.57%);
    box-shadow: -0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}
.section--1{
    padding: 4.5rem 0rem;
}
.section__content__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__content{
    width: 80%;
}


.section__image--1-1{
    position: relative;
    top: -15%;
    transform: scale(0.9);
}
.section__image--1-2{
    position: relative;
    top: 5%;
}
@media (min-width: 768px) {
    .section__image--1-1{
        top: -10%;
        transform: scale(1);
    }
    .section__image--1-2{
        top: 10%;
    }
}
.section--2 {
    padding-top: 4.5rem;
    z-index: 1;
    position: relative;
    overflow: visible;
}
.section__background--2 {
    overflow: visible;
    position: absolute;
    z-index: -1;
    width: 100%;
    min-width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    padding: 0;
}
.section__background--2 svg{
    width: 100%;
    height: calc(108%);
}
.section__image--2{
    position: relative;
    top: -15%;
    margin: 0 auto;
    max-height: 18.75rem;
}
.section--2 .section__content{
    padding-top: 0rem;
    padding-bottom: 3rem;

}
@media (min-width: 768px) {
    .section--2 .section__content{
        padding-top: 4.5rem;
        padding-bottom: 0;
    }
    .section__image--2{
        top: -25%;
        max-height: unset;
    }
}
.section--3{
    z-index: 0;
}
.section__content--3{
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: end;
    justify-content: center;
}
.section__image--3{
    width: 100%;
    height: 100%;
    min-height: calc(40vh + 3rem);
    object-fit: cover;
    object-position: 40% 50%;
    left: 0;
}
.section--3 ul{
    list-style-type: disclosure-closed;
    padding: 0;
}
.section--3 ul li{
    width: fit-content;
    margin-left: auto;
}
.section--3 li::before{
    font-weight: 700;
}
@media (min-width: 576px) {
    .section__content--3{
        padding-top: 6rem;
    }
    .section__image--3{
        object-position: 44.5% 50%;
    }
}

.section--4{
    background-color: var(--color-2);
    color: var(--color-text-2);
}
.section__content--4{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
}


footer *{
    text-align: center;
}
footer .subtitle--2{
    margin-bottom: 1.5rem;
}
footer ul{
    padding: 0;
    list-style: none;
}
footer li{
    margin-bottom: 1.5rem;
}
.footer__container{
    background-color: var(--color-4);
    color: var(--color-text-2);
}
.footer__container a{
    color: var(--color-text-2);
}
.footer__container .subtitle--2{
    color: var(--color-1);
}
.about-me .subtitle--2{
    color: var(--color-text-2);
}
.about-me{
    background-color: var(--color-5);
    color: var(--color-2);
}
.about-me a{
    color: var(--color-2);
}